<div class="br">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex.xs="100">
            <div class="card">
               <i><h1 Align="center">*Log in*</h1></i> 

                <form class="use">
                   
                     <h3>User name:</h3>
                    <input type="text" class="form-control"  placeholder="User name" required>
                    <h3>Password:</h3>
                    <input type="password" id="user" class="form-control"  required><br>
                   <button class="btn">LogIn</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Register</button>
                </form>
            </div>

        </div>
    </div>
</div>