<div class="br">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex.xs="100">
            <div class="card">
               <i><h1 Align="center">*Register*</h1></i> 

                <form class="use">
                    <h3>Username:</h3>
                    <input type="text" id="user" placeholder="Username" required>
                     <h3>Email Id:</h3>
                    <input type="text" id="Email" placeholder="Email Id" required>
                    <h3>Password:</h3>
                    <input type="password" id="user" placeholder="" required><br>
                    <h3>Mobile no:</h3>
                    <input type="text" id="Mobile" placeholder="mobile no" required><br>
                    
                    <button class="btn">Register</button>
                </form>
            </div>

        </div>
    </div>
</div>